/*  your css code here. If applicable */
body {
	background-color: black;
	height: 96vh;
	padding: 2vh;
	overflow: hidden;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 100%;
	height: 94vh;
	overflow: hidden;
}

.square {
	background-color: #1d1d1d;
	height: 16px;
	width: 16px;
	transition: background-color 1s linear;
}

.square:hover {
	transition: background-color 0s linear;
}



